body {
  background-image: url("http://gratisography.com/pictures/113_1.jpg");
  background-size: 100%;
}

.chat-app {
height: 500px;
width: 600px;
background-color: rgba(243,243,243,0.5);
border-radius: 25px;
padding: 20px;
padding-top: 30px;
}

.name{
padding-bottom: 10px;
font-family: 'Poiret One', cursive;
}

.chat-app ul {
     list-style: none;
     margin: 0px;
     padding: 10px;
     overflow: auto;
     height: 300px;
}

.main{
  background-color: rgba(243,243,243,0.5);
  padding: 20px;
}

.message-text {
  bottom: 0px;
  margin-top: 25px;
  font-family: 'Poiret One', cursive;
}

.glyphicon-user{
font-size: 24px;
color: #111;
}

.form-control {
  background-color: #F3F3F3 !important;
}
